#confirmedCases{
  background-color: #4b4b4b;
}
#criticalCases{
  background-color: #fb4646;
}
#death{
  background-color: #3437f3;
}
#recover{
  background-color: #01971a;
}
ion-card-subtitle, ion-card-title{
  color: white;
}
